.records-table {
    width: 100%;
    border-collapse: collapse;
}

.records-table th, .records-table td {
    padding: 8px;
    border: 1px solid #000000;
}

.records-table th {
    background-color: #9a9b9c;
    color: rgb(4, 4, 4);
    font-weight: bold;
    text-align: left;
}

.records-table tbody tr:nth-child(even) {
    background-color:transparent;
}

.records-table tbody tr:hover {
    background-color: transparent;
}
