.container {
    max-width: 500px;
    margin: 6% auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    font-family: Cursive;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    color: #154157;
    margin-bottom: 10px;
    cursor: pointer;
}

label:hover {
    color: #020202;
}

input{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #2e2a2a;
    border-radius: 10px;
}

input[type="submit"] {
    background-image: linear-gradient(to right, #a32115, #0d817d);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to right, #cfae1c, #1e4697);
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 1%;
}
