body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center; 
}

form {
    background-color: whitesmoke;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
}

.container{
    margin-left: 39%;    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;

}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.create-btn {
    background-color: #26415e;
    color: #fff;
    border: none;
    border-radius: 11px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

.create-btn:hover {
    background-color: #3b5358;
}