<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Management Tools</title>
    <link rel="stylesheet" href="/static/css/index_page/style_index.css">
</head>
<body>
    <div class="container" action="">
        <h1>Welcome to <span class="home-heading">Asset Management</span> Tools</h1>
        <p>Manage your assets efficiently with our powerful tools.</p>
        <a href="/auth/signup"><button class="btn">For New User</button></a>
        <a href="/auth/login"><button class="btn">Already Have An Accoutn</button></a>
    </div>
</body>
</html>
