{% extends "login.html" %}
{% block title %}
Create Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/style_all_fields.css">
{% endblock css %}
{% block content %}
<div class="text" methods="post">
    <h1 class="h">Hii!!.... Team</h1>
    <a href="{{ url_for('fields') }}"><button class="btn_setting" type="menu">Create New Fields</button></a>
</div>
<br><div class="table_text">
    <table class="tb">
        <tr>
            <th>Name</th>
            <th>Text</th>
            <th>Default</th>
            <th>Actions</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.text }}</td>
            <td>{{ entity.default }}</td>
            <td>
                <a href="{{ url_for('update_group', id=entity.id) }}"><button class="btn_ops">Update</button></a>
                <a href="{{ url_for('delete_group', id=entity.id) }}"><button class="btn_ops">Delete</button></a>
                <a href="{{ url_for('all_fields', id=entity.id) }}"><button class="btn_ops" type="submit">Fields</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
