{% extends "login.html" %}
{% block title %}
Home
{% endblock %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/style_home.css">
{% endblock %}
{% block content %}
<h1>Here you can see all records, and do some changes like crete, update and delete. </h1>

</form>  
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Contact</th>
        <th>Salary</th>
        <th>Department</th>
        <th>Actions</th>
    </tr>
</table><br>
<a href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
