{% extends "login.html" %}
{% block title %}
Create Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/style_group_fields.css">
{% endblock css %}
{% block content %}
<div class="container">
    <form action="/all_fields" method="post">
        <input type="hidden" name="id" id="id">
        <br><label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <label for="text">Text</label>
        <input type="text" name="text" id="text" placeholder="Enter some text">
        <label for="default">Default</label>
        <input type="text" name="default" id="default" placeholder="Enter default value">
        <br><input class="create-btn" type="submit" value="Add">
    </form>
</div>
{% endblock %}
