{% extends "login.html" %}
{% block title %}
Index Page
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/style_text_field.css">
{% endblock css %}
{% block content %}
<div class="container">
    <form action="/text_field" method="post">
        <label for="name">Group Name</label>
        <input type="text" name="name" id="name" placeholder="Name" required>
        <label for="discription">Discription</label>
        <textarea name="discription" id="discription" cols="30" rows="20" placeholder="Discription"></textarea>
        <a href="{{ url_for('index') }}"><button class="create-btn" type="submit">Create Field</button></a>
    </form>
</div>
{% endblock %}