{% extends "layouts/inheritance.html" %}
{% block title %}
profile
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/reocrds/profile.css">
{% endblock css %}
{% block content %}
<div>
    <h1>Welcome , {{ user.name }}</h1>
    {% if num_groups == 0 and num_fields == 0 and num_records == 0 %}
        <p>You haven't created any groups, fields, or records yet.</p>
    {% else %}
        <h2>Your Groups:</h2>
        <ul>
            {% for group in user_groups %}
            <li>{{ group.name }}</li>
            {% endfor %}
        </ul>
        
        <h2>Your Fields:</h2>
        <ul>
            {% for field in user_fields %}
            <li>{{ field.name }}</li>
            {% endfor %}
        </ul>
        
        <h2>Your Records:</h2>
        <ul>
            {% for field in user_fields %}
                <li>{{ field.name }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
<a href="{{ url_for('users_records.record_list_page', id=id) }}">
    <button class="learn-more">
    <span class="circle" aria-hidden="true">
    <span class="icon arrow"></span>
    </span>
    <span class="button-text">Back To Records</span>
  </button></a>
{% endblock %}