{% extends "layouts/template_inheritance.html" %}

{% block title %}
All Records
{% endblock title %}

{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/reocrds/style_records_details.css">
{% endblock css %}

{% block content %}
<div>
    <h1>All Records</h1>
</div>
<div>
    <ul>
        {% for key, value in records_data.items() %}
        <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages" class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

{% endblock %}