{% extends "layouts/template_inheritance.html" %}
{% block title %}
Records
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/reocrds/style_records.css">
{% endblock css %}
{% block content %}
<div class="heading">
    <h1>Records</h1>
</div>
<div class="table_text">
    <table class="tb">
        <tr>
            {% for field_name in field_names %}
            <th>{{ field_name }}</th>
            {% endfor %}
            <th>Action</th>
        </tr>
        <tr>
            {% for key, value in my_dict.items() %}
            <td>
                <a href="{{url_for('users_reocrds.records_details', group_id=group_id, field=field)}}"><ul>{{ value }}</ul></a>
            </td>
            {% endfor %}
            <td>
                <a href="#!"><button><i class="fas fa-drum-steelpan">Delete</i></button></a>
            </td>
        </tr>
    </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages" class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
<br><a href="{{ url_for('users_field.all_fields', group_id=group_id) }}"><button class="btn">Back To Fields</button></a> 
<script src="/static/js/records/flash_for_records.js"></script>
{% endblock %}