{% extends "layouts/inheritance.html" %}
{% block title %}
Records
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/reocrds/all_records.css">
{% endblock css %}
{% block content %}
<div class="heading">
    <h1>Records</h1>
</div>
<div class="table_text">
    <table class="tb">
        <tr>
            {% for field_name in field_names %}
                {% if loop.index <= 5 %}
                    <th>{{ field_name }}</th>
                {% endif %}
            {% endfor %}
            <th>Action</th>
        </tr>
        {% for record_id, record_data in records %} 
        <tr>
            {% for field_name, value in record_data.items() %}   
                {% if loop.index <= 5 %}
                    <td><a href="{{ url_for('users_records.details', group_id=group_id, record_id=record_id) }}">{{ value }}</a></td>
                {% endif %}
            {% endfor %}
            <td>
                <a href="{{url_for('users_records.delete', id=group_id, record_id=record_id)}}"><button class="btn2">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages" class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}   
</div>
<a href="{{ url_for('users_field.fields', id=group_id) }}"><button class="btn">Back To Fields</button></a>
<script src="/static/js/records/records.js"></script>
{% endblock %}