.container1 {
    display: flex;
    gap: 20%;
    padding: 15px;
    border-radius:10px;
    background-color:transparent;
    margin-right: 25px; 
}

input {
    width:60%;
    padding: 1px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}