{% extends "layouts/template_inheritance.html" %}
{% block title %}
Create Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/fields/style_all_fields.css">
{% endblock css %}
{% block content %}
<div class="text">
    <h1 class="h">Hi Team!  </h1>
    <a href="{{ url_for('users_field.create_fields')}}"><button class="btn_setting">Create New Fields</button></a><br>
</div>
<br><div class="table_text">
    <table class="tb">
        <tr>
            <th>Name</th>
            <th>Text</th>
            <th>is_Default</th>
            <th>Actions</th>
        </tr>
        {% for field in fields %}
        <tr>
            <td>{{ field.name }}</td>
            <td>{{ field.text }}</td>
            <td>{{ field.is_default }}</td>
            <td>
                <a href="{{ url_for('users_field.update_fields', id=field.id) }}"><button class="btn_ops">Update</button></a>
                <a href="{{ url_for('users_field.delete_fields', id=field.id) }}"><button class="btn_ops">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</div>
<br><a href="{{ url_for('users_group.groups') }}"><button class="btn">Back to groups</button></a>
{% endblock %}
