{% extends "layouts/inheritance.html" %}
{% block title %}
Create Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/fields/create.css">
{% endblock css %}
{% block content %}
<div class="container">
    <form action="{{ url_for('users_field.create', id=id) }}" method="post">
        <br><label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <br><label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Enter some description">
        <div class="dataformat">
            <select name="dataformat" id="dataformat">
                <option selected="selected" value="number">Number</option>
                <option value="text">Text</option>
                <option value="radio">True and False</option>
                <option value="datetime-local">DateTime-Local</option>
                <option value="url">URL</option>
                <option value="email">Email</option>
            </select>
        </div>
        <input type="hidden" name="field_key" value="1">
        <br><input class="create-btn" type="submit" value="Add">
    </form>
</div>
{% endblock %}