{% extends "layouts/template_inheritance.html" %}
{% block title %}
Create Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/fields/style_create_field.css">
{% endblock css %}
{% block content %}
    <form action="{{ url_for('users_field.create_field', group_id=group_id) }}" method="post">
        <br><label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <br><label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Enter some description">
        <br><input class="create-btn" type="submit" value="Add">
    </form>
</div>
{% endblock %}