<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Field Created</title>
</head>
<body>
    <h1>New Field Created</h1>
    <p>Dear {{ user.name }},</p>
    <p>A new Field '{{ field.name }}' has been created.</p>
    <p><strong>Field Description:</strong> {{ field.description }}</p>
    <p><strong>Field Created By:</strong> {{ user.name }}</p>
    <p><strong>Field Created Date:</strong> {{ field.created_date }}</p>
    <br>
    <p>Best regards,</p>
    <p>The App Team</p>
</body>
</html>
