{% extends "layouts/template_inheritance.html" %}
{% block title %}
Records
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/fields/style_records.css">
{% endblock css %}
{% block content %}
<div class="heading">
    <h1>Records</h1>
</div>
<div class="table_text">
    <table class="tb">
        <tr>
            <th>Record Data</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>
                {% for key, value in record_data.items() %}
                <ul>{{ key }}:
                    {{ value }}</ul>
                {% endfor %}
            <td>
                <a href="{{url_for('users_field.delete_records')}}"><button class="btn_ops">Delete</button></a>
            </td>

            </td>

        </tr>
    </table>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages" class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>
<script src="/static/js/field/flash_for_records.js"></script>
{% endblock %}