{% extends "layouts/template_inheritance.html" %}
{% block title %}
Create Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/fields/style_text_field.css">
{% endblock css %}
{% block content %}
<div class="container">
    <form action="{{ url_for('users_field.create_fields', group_id=group_id) }}" method="post">
        <br><label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Enter your name">
        <label for="text">Text</label>
        <input type="text" name="text" id="text" placeholder="Enter some text">
        <div class="is_default">
            <label for="is_default">Is_Default</label>
            <br><input type="radio" name="is_default" value="True" id="true">
            <label for="true">True</label>
            <input type="radio" name="is_default" value="False" id="false">
            <label for="false">False</label>
            <br><select name="group" id="group">
                {% for group in groups %}
                <option value="{{group.id}}">{{group.name}}</option>
                {% endfor %}
            </select>
        </div>
        <br><input class="create-btn" type="submit" value="Add">
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
    {% if category == 'success' %}
    <div>
        {{ message }}
    </div>
    {% else %}
    <div>
        {{ message }}
    </div>
    {% endif %}
</div>
{% endfor %}
{% endwith %}
</div>
{% endblock %}