{% extends "layouts/template_inheritance.html" %}
{% block title %}
Update Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/fields/style_update_fields.css">
{% endblock css %}
{% block content %}
<div class="container">
    <form action="{{ url_for('users_field.update_fields', group_id=group_id, field_id=field.id) }}" method="post">
        <br><label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{field.name}}" placeholder="Enter your name">
        <label for="description">Description</label>
        <input type="text" name="description" id="description" placeholder="Enter some description">
        <div class="data_type">
            <select name="data_type" id="data_type">
                <option selected="selected" value="Integer">Integer</option>
                <option value="String">String</option>
                <option value="boolean">Boolean</option>
            </select>
        </div>
        <br><input class="create-btn" type="submit" value="Add">
    </form>
</div>
{% endblock %}