{% extends "login.html" %}
{% block title %}
Create Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/fields/style_all_fields.css">
{% endblock css %}
{% block content %}
<div class="text" methods="post">
    <h1 class="h">Hii!!.... Team</h1>
    <a href="{{ url_for('group_fields') }}"><button class="btn_setting" type="menu">Create New Fields</button></a><br>
</div>
<br><div class="table_text" action="/all_fields">
    <table class="tb">
        <tr>
            <th>Name</th>
            <th>Text</th>
            <th>Default</th>
            <th>Actions</th>
        </tr>
        {% for field in field %}
        <tr>
            <td>{{ field.name }}</td>
            <td>{{ field.text }}</td>
            <td>{{ field.default }}</td>
            <td>
                <a href="{{ url_for('update_field', id=field.id) }}"><button class="btn_ops">Update</button></a>
                <a href="{{ url_for('delete_field', id=field.id) }}"><button class="btn_ops">Delete</button></a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
</div>
<br><a href="{{ url_for('groups') }}"><button class="btn">Back to groups</button></a>
{% endblock %}
