{% extends "login.html" %}
{% block title %}
Index Page
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/fields/style_text_field.css">
{% endblock css %}
{% block content %}
<div class="container">
    <form action="" method="post">
        <label for="name">Group Name</label>
        <input type="text" name="name" id="name" placeholder="Name" required>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="20" placeholder="description"></textarea>
        <input class="create-btn" type="submit" value="Create">
    </form>
</div>
{% endblock %}