.h {
    color: rgb(158, 83, 30);
    font-size: 24px;
    text-align: center;
}

.h:hover{
    color: rgb(163, 24, 24);
}

.btn_setting {
    background-color: #939798;
    color: white;
    text-align: center;
    font-size: 20px;
    display: flex;
    margin: auto;
    border-radius: 10px;
}
.btn_setting:hover {
    background-color: #0b0c0c;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.table_text{
    display: flex;
    justify-content: left;
    font-size: 23px;
    margin-left: 10px;
}

.tb{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #255d71; 
}

th {
    background-color: #578fa3; 
    color: white; 
    font-size: 20px;
    padding: 10px;
    text-align: c;
    border: 1px solid #070a0a; 
}

td {
    padding: 10px;
    border: 1px solid #578fa3; 
}

