body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.h {
    color: rgb(158, 83, 30);
    font-size: 24px;
    text-align: center;
}

.h:hover{
    color: rgb(163, 24, 24);
}

.btn_setting {
    background-color: #062445;
    color: white;
    text-align: center;
    font-size: 20px;
    display: flex;
    margin: auto;
    border-radius: 10px;
}
.btn_setting:hover {
    background-color: #979b9e;
    color: #000;
}

.container {
    text-align: center;
    margin-top: 20px;
}

.table_text{
    display: flex;
    justify-content: left;
    font-size: 23px;
    margin-left: 10px;
}

.tb{
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #255d71; 
    text-align: center;
}

th {
    
    background-color: #062445; 
    color: white; 
    font-size: 20px;
    padding: 10px;
    text-align: c;
    border: 1px solid #070a0a; 
}

td {
    padding: 10px;
    border: 1px solid #578fa3; 
}

.btn_ops {
    background-color: #062445;
    color: rgb(242, 241, 241);
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
}

.btn_ops:hover {
    background-color: lightsteelblue;   
    color: #000;
}


