{% extends "layouts/template_inheritance.html" %}
{% block title %}
Index Page
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/groups/style_groups.css">
{% endblock css %}
{% block content %}
<div class="text" methods="post">
    <h1 class="h">Hii!!.... Leads</h1>
    <a href="{{ url_for('users_group.group_fields') }}"><button class="btn_setting">Settings</button></a>
</div>
<br><div class="table_text">
    <table class="tb" action="">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
            <th>Status</th>
            <th>Fields</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                <a href="{{ url_for('users_group.update_groups', id=entity.id) }}"><button class="btn_ops">Update</button></a>
                <a href="{{ url_for('users_group.delete_groups', id=entity.id) }}"><button class="btn_ops">Delete</button></a>
                <a href="{{ url_for('users_field.all_fields', id=entity.id) }}"><button class="btn_ops">Fields</button></a>   
            </td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.fields         }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}