{% extends "layouts/template_inheritance.html" %}
{% block title %}
Group Report
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/groups/group_report.css">
{% endblock css %}
{% block content %}
    <div class="container">
        <h1>Group Report</h1>
        
    <form id="dataForm">
        <label for="dataType">Select Data Type:</label>
        <select id="dataType" name="dataType">
            <option value="all">Choose a Type</option>
            <option value="integer">Integer</option>
            <option value="string">String</option>
            <option value="boolean">Boolean</option>
        </select>
        <!-- <div id="inputFields"></div> -->
        <button type="button">Submit</button>
    </form>
<!-- 
    <script>
        function renderData() {
            var dataType = document.getElementById('dataType').value;
            var formData = [];
            if (dataType === 'integer') {
                var inputs = document.querySelectorAll('#inputFields input[type="number"]');
                inputs.forEach(function(input) {
                    formData.push(input.value);
                });
            } else if (dataType === 'string') {
                var inputs = document.querySelectorAll('#inputFields input[type="text"]');
                inputs.forEach(function(input) {
                    formData.push(input.value);
                });
            } else if (dataType === 'boolean') {
                var inputs = document.querySelectorAll('#inputFields input[type="checkbox"]');
                inputs.forEach(function(input) {
                    formData.push(input.checked);
                });
            }

            alert('Entered Data: ' + formData.join(', '));
        }
        document.getElementById('dataType').addEventListener('change', function() {
            var dataType = this.value;
            var inputFields = document.getElementById('inputFields');
            inputFields.innerHTML = '';

            if (dataType === 'integer') {
                inputFields.innerHTML = '<label>Enter Integers:</label><br>';
                for (var i = 1; i <= 3; i++) {
                    inputFields.innerHTML += '<input type="number" name="integerValue" placeholder="Enter integer ' + i + '"><br>';
                }
            } else if (dataType === 'string') {
                inputFields.innerHTML = '<label>Enter Strings:</label><br>';
                for (var i = 1; i <= 3; i++) {
                    inputFields.innerHTML += '<input type="text" name="stringValue" placeholder="Enter string ' + i + '"><br>';
                }
            } else if (dataType === 'boolean') {
                inputFields.innerHTML = '<label>Choose Booleans:</label><br>';
                inputFields.innerHTML += '<input type="checkbox" name="booleanValue" value="true"> True<br>';
                inputFields.innerHTML += '<input type="checkbox" name="booleanValue" value="false"> False<br>';
            }
        });
    </script> -->
{% endblock %}