{% extends "layouts/template_inheritance.html" %}
{% block title %}
Group Fields
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/groups/style_group_fields.css">
{% endblock css %}
{% block content %}
<div class="container">
    <form action="/users_group/groups" method="post">
        <label for="name">Group Name</label>
        <input type="text" name="name" id="name" placeholder="Name" required>
        <label for="description">Description</label>
        <textarea name="description" id="description" cols="30" rows="20" placeholder="description"></textarea>
        <div class="status">
            <br><label for="status">Status</label>
            <select name="status" id="status">
                <option value="Active">Active</option>
                <option selected="selected" value="Inactive">Inactive</option>
            </select>
        </div>
        <input class="create-btn" type="submit" value="Create">
    </form>
</div>
{% endblock %}