{% extends "layouts/inheritance.html" %}
{% block title %}
Subscribe to a Plan
{% endblock title %}

{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/subscription/sub.css">
{% endblock css %}

{% block content %}
<div class="container">
    <h1>Subscribe to a Plan</h1>
    <form method="POST" action="{{ url_for('subscription.create_subscription') }}">
        <label for="plan_id">Plan ID:</label>
        <input type="text" id="plan_id" name="plan_id" required>
        
        <label for="subscription_type">Subscription Type:</label>
        <select id="subscription_type" name="subscription_type" required onchange="updateAmount()">
            <option value="" disabled selected>Select your option</option>
            <option value="monthly">Monthly</option>
            <option value="quarterly">Quarterly</option>
            <option value="annually">Annually</option>
        </select>
        
        <p id="subscription_amount">Amount: INR 0</p>
        
        <button type="submit">Subscribe</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div id="flash-messages" class="flash-messages">
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</div>

<script src="/static/js/subscription/sub.js"></script>
{% endblock %}
