{%extends "layouts/template_inheritance.html"%}
{% block title %}
About Us
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="stylesheet" href="/static/css/navigate_pages/style_about.css">
{% endblock css %}
{% block content %}
<div class="container">
    <div class="aboutus">
        <h1>About Us</h1>
    </div>
    <div class="story">
       <h2>Our Story</h2>
    </div>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigate_pages/style_about.css') }}">
    <div class="para">
        <p>Lorem and more ipsum dolor sit amet, consectetur adipiscing elit. Proin gravida magna sit amet dui tristique, sed blandit lacus pharetra. Sed faucibus arcu eget urna dapibus, quis dictum ligula pulvinar. Mauris at nisi id augue vehicula scelerisque sit amet vel erat.</p>
    </div>
    <div class="team">
        <h2>Our Team</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/creatos.jpeg') }}">
                <h3>Creatos</h3>
                <p>CEO</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/dormammu.jpeg') }}">
                <h3>Dormammu</h3>
                <p>BOD</p>
            </div>
            <div class="team-member">
                <img src="{{ url_for('static', filename='images/cable.jpeg') }}">
                <h3>Cable</h3>
                <p>Assassin</p>
            </div>
        </div>
    </div>    
</div>
{% endblock %}