{% extends "layouts/inheritance.html" %}
{% block title %}
Payments
{% endblock title %}
{% block css %}
{{ super() }}
<link rel="icon" href="/static/images/feather-solid.svg">
<link rel="stylesheet" href="/static/css/payment/payment.css">
{% endblock css %}
{% block content %}
{% block js %}
<script src="/static/js/group/groups.js"></script>
{% endblock js %}
<div class="container">
        <h1>Payment Form</h1>
        <form method="POST" action="{{ url_for('payment.payment') }}">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" onkeyup="showPaymentButton()">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" onkeyup="showPaymentButton()">
            </div>
            <div class="subscription-group">
                <h3>Select Subscription Plan:</h3>
                <div>
                    <input type="radio" id="monthly" name="subscription" value="monthly" onchange="showPaymentButton()">
                    <label for="monthly" class="radio-label">Monthly ($10)</label>
                </div>
                <div>
                    <input type="radio" id="quarterly" name="subscription" value="quarterly" onchange="showPaymentButton()">
                    <label for="quarterly" class="radio-label">Quarterly ($25)</label>
                </div>
                <div>
                    <input type="radio" id="annually" name="subscription" value="annually" onchange="showPaymentButton()">
                    <label for="annually" class="radio-label">Annually ($90)</label>
                </div>
            </div>
            <button type="submit" id="paymentButton">Pay</button>
        </form>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="flash-messages" class="flash-messages">
            {% for category, message in messages %}
            <div class="flash-message {{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
</div>
{% endblock %}