body {
    background-color: #e2e8f0;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
    margin-left: 82px;
}

.flash-messages {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 10px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    text-align: center;
}

.flash-message {
    margin-bottom: 10px;
}

.flash-message.error {
    color: red;
}

.flash-message.success {
    color: green;
}

.header {
    padding: 1px;
    margin-bottom: 1%;
}

.content {
    display: flex;
    justify-content: center;
}